<!-- Developers : Ayon Chakraborty -->

{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}SpecSense Dashboard - Stony Brook University{% endblock %}

{% block body_class %}home application{% endblock %}

{% block extra_styles %}
    <style>

        .modal-header {
            padding:9px 15px;
            border-bottom:1px solid #eee;
            background-color: #e5e5e5;
            -webkit-border-top-left-radius: 3px;
            -webkit-border-top-right-radius: 3px;
            -moz-border-radius-topleft: 3px;
            -moz-border-radius-topright: 3px;
             border-top-left-radius: 3px;
             border-top-right-radius: 3px;
             font-family: 'Open Sans', sans-serif;
         }
         .modal-footer {
             background-color: #e5e5e5;
             -webkit-border-top-left-radius: 3px;
             -webkit-border-top-right-radius: 3px;
             -moz-border-radius-topleft: 3px;
             -moz-border-radius-topright: 3px;
              border-top-left-radius: 3px;
              border-top-right-radius: 3px;
              font-family: 'Open Sans', sans-serif;
          }


        table, td {
          background: #f5f5f5;
        	border-collapse: separate;
        	box-shadow: inset 0 1px 0 #fff;
        	font-size: 13px;
        	line-height: 24px;
        	margin: auto;
        	text-align: left;
          font-family: 'Open Sans', sans-serif;
        }
        th {
        	background:#FFFFFF ;
        	color: #002323;
        	padding: 10px 15px;
        	position: relative;
        }
        #over {
              background:#e0ebeb;
              position: absolute;
              z-index: 99;
              padding-top: 30px;
              padding-right: 25px;
              padding-bottom: 25px;
              padding-left: 25px;
              width: 20%;
              height: 300px;
              opacity: 0.9;
              filter: alpha(opacity=95);
              color: #0E103B;
              height: auto;
              border-radius: 25px;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              top: 60px; bottom: 16px; left: 5px;
          }
       .container-fluid{
          overflow-y: scroll;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/geo-explorer.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/keen-dashboards.css" />


{% endblock %}

{% block extra_scripts %}
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCSL7fyttFUapg8rXDc95zzkuIqPFTzEgM"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/canvasjs.min.js"></script>

    <script type="text/javascript">

        var laa = 0;
        var lonn = 0;

       $(document).ready(function() {
         $('#form').submit(function(e){
           var startTime = new Date();
            $.ajax({
                url: "{% url 'ui_geo_query' %}",
                type: "POST",
                data: $(this).serialize(),
                success: function(data) {
                    if(data.registered_sensors.length > 0){
                        populate_sensor_table(data.registered_sensors);
                        plotchannels(data.occupancycharts);
                        plotcdf_channel(data.powers, '29');
                        fill_channel_dropmenu(data.powers);


                        var num_measurements = 0;
                        for(var i in data.occupancycharts){
                          num_measurements += (data.occupancycharts[i]['occupied'] + data.occupancycharts[i]['whitespace']) ;
                        }
                        var diffTime = ( new Date() - startTime );
                        //alert("Total query time was: "+diffTime+" ms");
                        $('#warningDiv').html("Processed <strong>"+num_measurements+"</strong> measurements in <strong>"+diffTime+"ms</strong>.");
                    }
                    else {
                      var diffTime = ( new Date() - startTime );
                      $('#warningDiv').html("Oops.. No data! The query took <strong>"+diffTime+"ms</strong>.");
                    }
                }

            });

            e.preventDefault();
        });
        });


        function populate_sensor_table(data){
            var len = 1;
            var txt = "<tbody id=tableBody2>";
            if(Array.isArray(data)){
                len = data.length;
                if(len > 0){
                    for(var i=0;i<len;i++){
                        if(data[i].mac && data[i].ue_status){
                            var macurl = "ue/"+(data[i].mac.split(':').join([separator = '']));
                            //if(data[i].ue_status == 'ONLINE') { txt += "<tr><td>"+data[i].mac.toUpperCase()+"</td><td>"+"SENSING "+"  <img src=\"{{ STATIC_URL }}assets/online_button.png\" style=\"width:15px; height:15px\"/> </td><td>"+data[i].battery+"%</td><td>"+data[i].seen+"</td></tr>"; }
                            //if(data[i].ue_status == 'OFFLINE') { txt += "<tr><td>"+data[i].mac.toUpperCase()+"</td><td>"+data[i].ue_status+"  <img src=\"{{ STATIC_URL }}assets/offline_button.png\" style=\"width:15px; height:15px\"/>  </td><td> -- </td><td>"+data[i].seen+"</td></tr>"; }
                            if(data[i].ue_status == 'ONLINE') { txt += "<tr><td>  <img src=\"{{ STATIC_URL }}assets/online_button.png\" style=\"width:15px; height:15px\"/> " + data[i].mac.toUpperCase()+"</td><td>"+data[i].battery+"%</td><td>"+data[i].seen+"</td></tr>"; }
                            if(data[i].ue_status == 'OFFLINE') { txt += "<tr><td>  <img src=\"{{ STATIC_URL }}assets/offline_button.png\" style=\"width:15px; height:15px\"/> " + data[i].mac.toUpperCase()+"</td><td> -- </td><td>"+data[i].seen+"</td></tr>"; }

                        }
                    }
                }
            }
            else{
                txt += "<tr><td>"+data.mac+"</td><td>"+data.ue_status+"</td></tr>";
            }
            txt += "</tbody>";
            $("#tableBody2").replaceWith(txt);
        }


        function fill_channel_dropmenu(data){
          var select = document.getElementById("channel_dropdown");
          var i;
          for(i=select.options.length-1;i>=0;i--){
              select.remove(i);
          }
          for(var channel in data) {
              var el = document.createElement("option");
              el.textContent = channel;
              el.value = channel;
              select.appendChild(el);
          }
          $('#channel_dropdown').on('change',function(){
            plotcdf_channel(data, $('#channel_dropdown').find(":selected").text());
          });
        }


        function plotcdf_channel(data, mychannel) {
          var channelpowercdf_probs = [];
          var channelpowercdf_vals = [];
          var mydatapoints = [];
          for(var i = 0; i < data[mychannel].length; i++){
            mydatapoints.push( { x: -5 + i*(20.0)/100, y: data[mychannel][i] } );
          }

        		var chart = new CanvasJS.Chart("chartContainer2",
        		{
        			zoomEnabled: true,
              animationDuration: 500,
              animationEnabled: true,
        			axisY2:{
                title: 'ECDF',
                titleFontSize: 17,
                labelFontSize: 14,
                titleFontFamily: 'courier',
        				maximum: 1.0,
                minimum: 0.0,
        				interval: .25,
                labelFontSize: 13,
        				interlacedColor: "#ECF4FA",
        				gridColor: "#D7D7D7",
        	 			tickColor: "#D7D7D7",
                lineColor: "#D7D7D7",
                lineThickness: 3
        			},

              axisX: {
                title: "Total Sensed Power (dB)",
                titleFontSize: 17,
                labelFontSize: 14,
                titleFontFamily: 'courier',
                minimum: -5,
                maximum: 15
              },

              theme: "theme3",
              toolTip:{
                shared: true,
                content: "PROBABILITY( Power < {x} dB ) = {y}"
              },
        			data: [
        			{
        				type: "line",
        				lineThickness:5,
                color: "#A0A6AA",
        				axisYType:"secondary",
        				showInLegend: false,
        				name: "Probability",
        				dataPoints: mydatapoints
        		  }],
              });
        chart.render();
        }


        function plotchannels(data) {
          var channel_occupied_percentage = [];
          var channel_whitespace_percentage = [];

          for(var key in data) {
            var totaldata = data[key]["occupied"] + data[key]["whitespace"];
            channel_occupied_percentage.push({ y: data[key]["occupied"]*1.0/totaldata, label: key });
            channel_whitespace_percentage.push({ y: data[key]["whitespace"]*1.0/totaldata, label: key });
          }

          var chart = new CanvasJS.Chart("chartContainer", {
            animationDuration: 500,
            animationEnabled: true,
            axisY: {
              titleFontSize: 17,
                labelFontSize: 14,
                title: "Occupancy (%)",
                titleFontFamily: 'courier'
            },
            axisX: {
              titleFontSize: 17,
                labelFontSize: 14,
                title: "DTV Channels, spanning 470 MHZ - 698 MHz",
                titleFontFamily: 'courier'
            },
            toolTip:{
          			shared: true,
          			content: "Channel #{label}, {name} <strong>#percent%</strong>"
          	},
            legend:{
                fontFamily: "tahoma",
                fontSize: 20,
                itemWidth: 200,
                verticalAlign: "top"
            },
            data: [
            {
                color: "#A0A6AA",
                type: "stackedColumn100",
			          showInLegend: false,
			          name: "Occupied",
                dataPoints:channel_occupied_percentage
            },
            {
                color: "#ECF4FA",
                type: "stackedColumn100",
                bevelEnabled: true,
			          showInLegend: false,
			          name: "Not-Occupied",
                dataPoints:channel_whitespace_percentage
            }
            ]
        });

        chart.render();
      }

        function initialize() {

          data = [];
          plotchannels(data);
          data = {'2':[]};
          plotcdf_channel(data,'2');

            if (navigator.geolocation) {
                var geoSuccess = function(position) {
                    laa = position.coords.latitude;
                    lonn = position.coords.longitude;
                    showPosition(position);
                };
                navigator.geolocation.getCurrentPosition(geoSuccess);
            } else {
                window.alert("Geolocation is not supported by this browser.");
            }

            var mapOptions =
            {
                zoom: 10,
                center: new google.maps.LatLng(laa,lonn),
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                maxZoom: 20,
                minZoom:2,
                styles: [{"stylers":[{"saturation":-100},{"gamma":1}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"off"}]},{"featureType":"poi.business","elementType":"labels.text","stylers":[{"visibility":"off"}]},{"featureType":"poi.business","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"poi.place_of_worship","elementType":"labels.text","stylers":[{"visibility":"off"}]},{"featureType":"poi.place_of_worship","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"visibility":"simplified"}]},{"featureType":"water","stylers":[{"visibility":"on"},{"saturation":50},{"gamma":0},{"hue":"#50a5d1"}]},{"featureType":"administrative.neighborhood","elementType":"labels.text.fill","stylers":[{"color":"#333333"}]},{"featureType":"road.local","elementType":"labels.text","stylers":[{"weight":0.5},{"color":"#333333"}]},{"featureType":"transit.station","elementType":"labels.icon","stylers":[{"gamma":1},{"saturation":50}]}]
            };

            var map = new google.maps.Map(document.getElementById('app-maparea'), mapOptions);

            //var iconoMarca = "{{ STATIC_URL }}assets/sensor.png";
            var marker = new google.maps.Marker({
                map: map,
                draggable: true,
                position: new google.maps.LatLng(laa, lonn)
            });

            var sunCircle = {
                strokeColor: "#0099cc",
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: "#0099cc",
                fillOpacity: 0.35,
                map: map,
                center: marker.position,
                radius: 5000, // in meters
                editable: true
            };

            cityCircle = new google.maps.Circle(sunCircle)
            cityCircle.bindTo('center', marker, 'position');

            function showPosition(position) {
                center = new google.maps.LatLng(position.coords.latitude,position.coords.longitude)
                marker.setPosition(center);
                map.panTo(center);
                document.getElementById("lat").value = marker.position.lat();
                document.getElementById("lon").value = marker.position.lng();
                document.getElementById("rad").value = (parseFloat(cityCircle.getRadius())*(0.000621371)).toString() ;
            }

            function bind(domElement, eventName)
            {
                google.maps.event.addListener(domElement, eventName, function ()
                {
                    //window.alert(cityCircle.getRadius());
                    document.getElementById("lat").value = marker.position.lat();
                    document.getElementById("lon").value = marker.position.lng();
                    document.getElementById("rad").value = (parseFloat(cityCircle.getRadius())*(0.000621371)).toString();
                });
            }
            document.getElementById("lat").value = marker.position.lat();
            document.getElementById("lon").value = marker.position.lng();

            bind(map, 'zoom_changed');
            bind(marker, 'dragend');
            bind(cityCircle, 'radius_changed');

            // var formdata =  $('#form').serialize();
            // $.ajax({
            //     url: "{% url 'ui_geo_query' %}",
            //     type: "POST",
            //     data: formdata,
            //     success: function(data) {
            //         if(data){
            //             populate_sensor_table(data.registered_sensors)
            //             plotchannels(data.occupancycharts)
            //         }
            //     }
            // });
            // marker.addListener('dragend', refreshView);
            // cityCircle.addListener('radius_changed', refreshView);
            //
            // function refreshView() {
            //   var formdata =  $('#form').serialize();
            //   $.ajax({
            //       url: "{% url 'ui_geo_query' %}",
            //       type: "POST",
            //       data: formdata,
            //       success: function(data) {
            //           if(data){
            //               populate_sensor_table(data.registered_sensors)
            //               plotchannels(data.occupancycharts)
            //           }
            //       }
            //   });
            // }

            function common()
            {
                var bounds = map.getBounds();
                var southWest = bounds.getSouthWest();
                var northEast = bounds.getNorthEast();
                var getcentre=bounds.getCenter();
                var ne = map.getBounds().getNorthEast();
                var sw = map.getBounds().getSouthWest();
                var zoom=map.getZoom();
                var centre_lat=getcentre.lat();
                var centre_long=getcentre.lng();
                var myLatlng=new google.maps.LatLng(centre_lat,centre_long);
                var mapProp =
                {
                    center: new google.maps.LatLng(centre_lat,centre_long),
                    zoom:zoom,
                    maxZoom: 8,
                    minZoom:2,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

            }
        }

        google.maps.event.addDomListener(window, 'resize', initialize);
        google.maps.event.addDomListener(window, 'load', initialize);


        $('#architecture').click(function(){
            $('#how-it-works-modal .modal-title').html('SpecSense Architecture');
            $('#how-it-works-modal .modal-body').html('We will describe specsense architecture here.');
            $('#how-it-works-modal').modal('show');
        });

        $('#code').click(function(){
            $('#how-it-works-modal .modal-title').html('SpecSense Code');
            $('#how-it-works-modal .modal-body').html('We will provide the code here.');
            $('#how-it-works-modal').modal('show');
        });

        $('#team').click(function(){
            $('#team-modal .modal-title').html('SpecSense Team');
            $('#team-modal .modal-body').html('We will list our team members here.');
            $('#team-modal').modal('show');
        });

        $('#contact').click(function(){
            $('#team-modal .modal-title').html('Get in touch!');
            $('#team-modal .modal-body').html('Contact Information.');
            $('#team-modal').modal('show');
        });


    </script>

{% endblock %}

{% block body_base %}


<!-- Modal -->
<div class="modal fade" id="how-it-works-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
            <h4 class="modal-title">SpecSense: How it works?</h4>
        </div>
        <div class="modal-body">
            We will describe specsense architecture here.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="architecture">Architecture</button>
            <button type="button" class="btn btn-primary" id="code">Get the Code</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-div -->
</div>


<!-- Modal -->
<div class="modal fade" id="restapi-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"  aria-hidden="true">&times;</button>
            <h4 class="modal-title">SpecSense REST APIs</h4>
        </div>
        <div class="modal-body">
            We will list available REST APIs here.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-div -->
</div>

<!-- Modal -->
<div class="modal fade" id="team-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"  aria-hidden="true">&times;</button>
            <h4 class="modal-title">SpecSense Team</h4>
        </div>
        <div class="modal-body">
            SpecSense Team.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="team">SpecSense Team</button>
            <button type="button" class="btn btn-primary" id="contact">Contact</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-div -->
</div>

<!-- Modal -->
<div class="modal fade" id="pub-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"  aria-hidden="true">&times;</button>
            <h4 class="modal-title">Research Publications</h4>
        </div>
        <div class="modal-body">
            List papers here.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-div -->
</div>


  <div class="container-fluid">
    <div id="app-wrapper">

              <div id='app-maparea' style='height:40%;width:65%;'></div>

              <div id='app-sidebar' style='width:35%;'>
              <div class="col-sm-12" style='width:100%;'>
                <div class="chart-wrapper">
                  <div class="chart-title">
                    Spectrum Sensor Details
                  </div>
                  <div class="chart-stage">

                  <table id="table2" class="table" style="display: block; border-collapse: separate; border-spacing: 10px; height: 350px; overflow-y: scroll">
                      <thead>
                          <th>Sensor MAC</th>
                          <!-- <th>Sensor Status</th> -->
                          <th>Battery Level</th>
                          <th>Last Connected</th>
                      </thead>
                      <tbody id="tableBody2" >
                      </tbody>
                  </table>

                  </div>

                </div>
              </div>
            </div>

              <form action="" method="post", id="form">
                  {% csrf_token %}
                  <div class="form-quote-out left-posi">
                    <div class="single-div"><label >Latitude : </label><input id="lat" type="text" name="lat" class="form-control" value="0.0"></div>
                    <div class="single-div"><label >Longitude : </label><input id="lon" type="text" name="lon" class="form-control" value="0.0"></div>
                    <div class="single-div"><label>Radius (in miles) :</label><input id="rad" type="text" name="rad" class="form-control" value="0.0"></div>
                    <div class="single-div"><br><button type="submit" class="btn btn-primary">Run new Geo-Query</button></div>
                    <span class="help-block" style="color: #1f3d7a;" id="warningDiv"></span>
                    {% comment %}
                    <div class="container">
                        <div id="warningDiv">
                        </div>
                    </div>
                    {% endcomment %}
                </div>
              </form>



             <div class="row">

               <div class="col-sm-8" style='width:65%;'>
                    <div class="chart-wrapper">
                        <div class="chart-stage">
                            <div class="chart-title">
                                     Percentage Spectrum Occupancy for all Channels
                            </div>
                            <div id="chartContainer" style="height: 220px; width: 100%;">
                            </div>
                        </div>
                      </div>
               </div>

               <div class="col-sm-4" style='width:35%;'>
                    <div class="chart-wrapper">
                        <div class="chart-title">
                                    Power CDF of Channel (select)
                        </div>
                        <div class="chart-stage">
                            <select name="channel_dropdown" id="channel_dropdown" class="fixed form-control">
                                <option selected="selected">Select a channel</option>
                            </select>
                            <div id="chartContainer2" style="height: 190px; width: 100%;">
                            </div>
                        </div>
                      </div>
               </div>

             </div>

             <div class="row">
               <div class="col-sm-12" align="center">
                    Wings Lab SpecSense Dashboard. Stony Brook University, &copy; 2016.
              </div>
            </div>



    </div>
  </div>






{% endblock %}
