{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load i18n %}

<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}assets/favicon.ico"/>

{% block nav %}

<ul class="btn-group navbar-btn navbar-right">
    <button class="btn btn-default">Find More</button>
    <button data-toggle="dropdown" class="btn btn-danger dropdown-toggle"><span class="caret"></span></button>
    <ul class="dropdown-menu">

      <li><a href="" data-toggle="modal" data-target="#how-it-works-modal" >How it Works</li>
      <li><a href="" data-toggle="modal" data-target="#restapi-modal" >REST APIs</li>
      <li><a href="" data-toggle="modal" data-target="#team-modal">Our Team</li>
      <li><a href="" data-toggle="modal" data-target="#pub-modal">Publications</li>
      <li class="divider"></li>
      <li><a href="#">Deploy SpecSense</a></li>
    </ul>
</ul>
  <ul class="navbar-brand navbar-left">
      SpecSense Dashboard
  </ul>
  <ul class="navbar-brand navbar-right">
        <a href="http://www.stonybrook.edu"><img style="width:260px; height:50px; margin:-10px" src="{{ STATIC_URL }}assets/sbu.png"></a>

  </ul>



        <!-- <li id="tab_home"><a href="{% url 'home' %}">{% trans "" %}</a></li>
        <li id="tab_heatmap"><a href="{% url 'ui_heatmap' %}">{% trans "Heatmap (defunct)" %}</a></li>
        <li id="tab_ue"><a href="{% url 'ui_ue_info' %}">{% trans "User Equipments (defunct)" %}</a></li> -->


{% endblock %}

{% block styles %}
    {% include "_styles.html" %}
    {% block extra_styles %}
    {% endblock %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block body_base %}
    {% block breadcrumb_base %}
        <div class="breadcrumb container">
            {% block breadcrumbs %}{% endblock %}
        </div>
    {% endblock %}
    {% block upperbody_base %}
        <section class="jumbotron">
            <div class="container">
                {% block upper_body %}
                {% endblock %}
            </div>
        </section>
    {% endblock %}

    <section id="content_body">
        <div class="container">
            {% include "_messages.html" %}
            {% block body %}
            {% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
    {% block extra_scripts %}
    {% endblock %}
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}
